---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "August 2024 - December 2024",
    title: "Project Manager",
    company: "Yayasan Media Selaras",
    description:
      "Leading a Media Aligned Website Project Design Team, Implementing project planning and scheduling, Conducting regular monitoring and reporting of progress throughout the project flow, and Conducting evaluation of project design and implementation",
    link: "#",
  },
  {
    date: "August 2024 -  October 2024",
    title: "Class Manager",
    company: "Telkom Indonesia",
    description:
      "Manage both Soft Skill and Hard Skill classes, Become a communication bridge from mentees to the Digistar Team, Conduct assessments, evaluations, and feedback to the mentees they manage, and Guide and pay attention to mentees so that they are always on the right path/track",
  },
  {
    date: "July 2024 - August 2024",
    title: "Business Government Enterprise Service Intern",
    company: "Telkom Witel Lampung",
    description:
      "Learning the flow of internet customer data management from the initial installation stage to installation, Creating a website-based customer data management system, and Learning network engineering at PT Telkom Indonesia Learning the history, information, and definition of PT Telkom Indonesia",
  },
  {
    date: "February 2024 - July 2024",
    title: "Web Development",
    company: "Baparekraf Digital Talent (BDT)",
    description:
      "Designing an attractive and efficient User Interface (UI) according to user needs, Building and developing systems using HTML, CSS, Java Script, and several other frameworks, Ensuring cross-browser and device capabilities and functions, Building and designing logic on the back server, Designing database systems and APIs that can be integrated with other device systems, Performing troubleshooting and bug fixes that are carried out periodically for the sake of a capable, good system function, and being able to follow the latest technological developments, and Performing good, efficient, and effective cooperation in creating a system from design to publication of the system in one team goal",
  },
  {
    date: "April 2024 - September 2024",
    title: "Human Resource Development",
    company: "Duta Potensi Pemuda Indonesia",
    description:
      "Create a design, identify, and compile a program based on the needs for the development of Human Resources that are growing and comprehensive based on the analysis, objectives, and feedback of the organization, Create an Ambassador training in developing the potential of the individual to interpret as an Ambassador, Provide support and build a network of cooperation in developing each potential that exists, and Ensure compliance with organizational policies and procedures in line with Human Resources development.",
  },
  {
    date: "October 2023 - December 2023",
    title: "Event Division",
    company: "Lampung Leadership Forum",
    description:
      "Assist in preparing event logistics including setting up the venue, equipment and materials for the event, Assist in organizing participant registration including preparing materials and managing data on participants who attend, Ensure all equipment and event materials are available and ready to use, and Coordinating with vendors and suppliers regarding event needs",
  },
  {
    date: "October 2023 - December 2023",
    title: "Head of Public Relation Division",
    company: "PMK ITERA Easter Celebration 2024",
    description:
      "Establish an efficient and effective communication flow and objectives in the design of the PIEC 2023 event, Determine and develop a measurable strategy that is aligned with the objectives of the PIEC 2023 event, Identify and channel communication with the target audience effectively in the sustainability of the event, Build and maintain good and effective internal and external relationships, and Ensure that the targets carried out are in accordance with the event scheme and objectives",
  },
  {
    date: "March 2023 - December 2023",
    title: "Competition Division",
    company: "Swarnafest ITERA 2023",
    description:
      "Determine the assessment criteria and mechanisms in the competition, Prepare the timeline, technical implementation, and promotional materials and publications for the competition, and Create an ITERA 2022 Swarnafest Competition information system with a UI/UX concept that has been prepared and arranged in such a way.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
