---
// File yang kamu kasih
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "January 2025 - September 2025",
    title: "Creative",
    company: "PT. Yayasan Media Selaras Cendekiawan",
    status: "Freelance", // ⬅️ tambahin status di sini
    description:
      "Design social media feeds and stories in line with the specified color palette. During the period, use 3 different themes to provide interesting variety; Designing logos for six departments: Founder, Secretary, Treasurer, Project Management, Partnership, and Creative. The six logos were designed using six different colors; Work with the partnership team to design a partner guidebook based on the specifications provided; Designing OBS layouts, certificates, and posters for webinars/seminars requested by the Project Management department.",
    link: "#",
  },
  {
    date: "August 2024 - October 2024",
    title: "Project Manager",
    company: "PT. Yayasan Media Selaras Cendekiawan",
    status: "Freelance", // ⬅️ tambahin status di sini
    description:
      "Overseeing a team with three divisions, namely UI/UX, Front End, and Back End, to complete projects properly and in a structured manner with a target of 85%–95% by the end of September; Monitoring the project budget appropriately so that it is in line with the initial objectives of the project; Conduct weekly evaluations twice a week with a target of 5%–7% for each division every week; Submit weekly reports to superiors detailing the workflow, appropriate budget, weekly progress, and development targets.",
    link: "#",
  },
  {
    date: "July 2024 - August 2024",
    title: "BGES MBB",
    company: "Telkom Witel Lampung",
    status: "Internship", // ⬅️ tambahin status di sini
    description:
      "Performing data analysis on Indibiz installations in Lampung in the period from January 2023 to June 2024 using SQL combined with PHP; Developing the Indibiz customer data analysis dashboard website called ‘Kedaton Connect’ for the Telkom Akses Kedaton sector using the Waterfall method workflow with two divisions of work, namely Front End and Back End; Conducting in-depth learning about Telkom Indonesia from top to bottom with several related parent companies.",
    link: "#",
  },
  {
    date: "February 2024 - July 2024",
    title: "Web Development",
    company: "Baparekraf Digital Talent",
    status: "Internship", // ⬅️ tambahin status di sini
    description:
      "Study the website development process thoroughly in order to meet client expectations; Developing a website with the theme of agriculture with the aim of solving these problems. The website was developed under the name ‘Harvesty’ using the PHP programming language and combined with the CSS framework Bootstrap; Creating a workflow using the Waterfall method, from UI/UX design execution to back-end development on the website, with a target completion date of mid-June 2024, is now 100% complete, based on weekly progress of 4%–7%; Collaborate with the development team with communication skills, leadership, and high enthusiasm, and prioritize goals with the team.",
    link: "#",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
