---
const currentYear = new Date().getFullYear();
const version = 'v1.0.0';
---

<footer
  class="mt-16 mb-10 px-4 w-full max-w-screen-xl mx-auto container opacity-90"
  aria-label="Site Footer"
>
  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between py-6 border-t border-zinc-300 dark:border-zinc-700"
  >
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/80">
      © {currentYear}
      <a 
        href="https://www.linkedin.com/in/kevinsimorangkir/" 
        class="hover:underline font-medium text-blue-600 dark:text-blue-400"
        target="_blank" 
        rel="noopener noreferrer"
      >
        Portfolio KVNS
      </a>. All rights reserved.
      <span class="ml-2 text-xs text-zinc-500 dark:text-zinc-400">({version})</span>
    </span>

    <nav class="mt-4 md:mt-0">
      <ul class="flex flex-wrap gap-4 text-sm font-medium text-zinc-800 dark:text-zinc-200">
        <li>
          <a 
            id="contacto" 
            href="mailto:vin.simorangkir81@gmail.com" 
            class="hover:underline"
          >
            Contact Me
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
